$primary: #fca121;
$onPrimary: #ffffff;
$secondary: #000;
$onSecondary: #fff;
$background: #121615;
$onBackground: #fff;
$surface: #1b1f1e;
$onSurface: #fff;
$lightText: rgba(255, 255, 255, 0.4);
$radius: 8px;
$devider: #e5e5e5;

$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
